<div class="action-menu" (document:click)="onDocumentClick($event)">
  <button mat-icon-button class="action-menu-trigger" (click)="toggleMenu()">
    <mat-icon>{{ icon }}</mat-icon>
  </button>

  <div *ngIf="isOpen" class="action-menu-dropdown">
    <div *ngFor="let item of items; let last = last" class="action-menu-item" [class.disabled]="item.disabled" [class.divider]="item.divider" (click)="onActionClick(item)">
      <mat-icon *ngIf="item.icon && !item.divider" class="item-icon">{{ item.icon }}</mat-icon>
      <span *ngIf="!item.divider" class="item-label">{{ item.label }}</span>
    </div>
  </div>
</div>
